### Q1

In [9]:
result=1
for i in range (1,6):
    result = result * i
print(result)

120

### Q2

In [8]:
result=0
for i in range (1,6):
    result = result + i
    
print(result)

15

### Q3

In [7]:
result=1
for i in range (3,10):
    result = result * i
print(result)

181440

### Q4

In [10]:
result=1
for i in range (1,9):
    result = result * i
print(result)

40320

In [11]:
result_den=1
for i in range (1,4):
    result_den = result_den * i
print(result_den)

6

In [12]:
print(result/result_den)

6720.0

### Q5

In [3]:
for i in range (0,6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

### Q6

In [2]:
count = 0
for i in "this is my fourth string".split():
    count = count+1
print(count)

5

### Q7

In [1]:
num_list = [12,32,43,35]
while num_list:
    num_list.remove(num_list[0])
print(num_list)

[]

An empty list is considered false, that's why this works to empty lists

### Q8

In [13]:
fourth_str = "this is my fourth string".split()
count = 0
while fourth_str:
    fourth_str.remove(fourth_str[0])
    count = count+1
print(count)

5

### Q9

In [23]:
my_tweet = {'favorite_count':1138, 'lang':'ch', 'coordinates':(-75.14310264, 40.05701649), 
            'entities':{"hashtags":["Preds","Pens", "SingIntoSpring"]}}
print(my_tweet)

{'favorite_count': 1138, 'lang': 'ch', 'coordinates': (-75.14310264, 40.05701649), 'entities': {'hashtags': ['Preds', 'Pens', 'SingIntoSpring']}}

In [28]:
count = 0
for i in my_tweet["entities"]['hashtags']:
    count = count+1
print(count)

3

In [29]:
count = 0
while my_tweet["entities"]['hashtags']:
    my_tweet["entities"]['hashtags'].remove(my_tweet["entities"]['hashtags'][0])
    count = count+1
print(count)

3

### Q10

In [30]:
num_list = [12,32,43,35]
max_item = num_list[0]
for current_item in num_list:
    if max_item< current_item:
        max_item = current_item
print(max_item)

43

In [31]:
min_item = num_list[-1]
for current_item in num_list:
    if min_item> current_item:
        min_item = current_item
print(min_item)

12