### Q1

In [17]:
num_list = [12,32,43,35]
num_list.sort()
num_list[-1]

43

This is the max

In [18]:
num_list[0]

12

This is the min

### Q2

In [22]:
lab_str = "This is my third python lab.".split()
print(lab_str)

['This', 'is', 'my', 'third', 'python', 'lab.']

In [23]:
len(lab_str)

6

### Q3

In [46]:
my_list = ['a', '123', 123, 'b', 'B', 'False', False, 123, None, 'None']

In [47]:
my_list_set = set(my_list)
print(my_list)
len(my_list_set)

['a', '123', 123, 'b', 'B', 'False', False, 123, None, 'None']

9

### Q4

In [40]:
my_dict = {"favorite_count":1138, "lang":"ch", "coordinates":(-75.14310264, 40.05701649), 
           "visited_countries":["GR", "HK", "MY"]}

### Q4.1

In [41]:
my_dict["lang"]="en"
print(my_dict)

{'favorite_count': 1138, 'lang': 'en', 'coordinates': (-75.14310264, 40.05701649), 'visited_countries': ['GR', 'HK', 'MY']}

### Q4.2

In [42]:
visit_str = my_dict['visited_countries']
print(visit_str)

['GR', 'HK', 'MY']

In [43]:
len(visit_str)

3

### Q4.3

In [44]:
my_dict['visited_countries'].append("CH")
my_dict['visited_countries']

['GR', 'HK', 'MY', 'CH']

In [45]:
print(my_dict)

{'favorite_count': 1138, 'lang': 'en', 'coordinates': (-75.14310264, 40.05701649), 'visited_countries': ['GR', 'HK', 'MY', 'CH']}

### Q4.4

In [11]:
print('US' in my_dict)

False

### Q4.5

In [26]:
my_dict['coordinates'][0]
print(my_dict['coordinates'][0])

-75.14310264

### Q4.6

In [48]:
my_dict['coordinates']=(-81,45)

In [49]:
print(my_dict['coordinates'])

(-81, 45)

Didn't reassign singular value, replaced entire tuple